<table class="table table-bordered">
  <thead>
    <tr>
      <th>Set </th>
      <th>Cost </th>
      <th>Description </th>
      <th>Health </th>
      <th>Attack </th>
      <th>Quality </th>
      <th>Type </th>

    </tr>
  </thead>

</table>