<div id="search">
  <h1>What's the <b>maximum cost</b> you can afford?</h1>

	<%= form_tag '/results', method: "get", :class => "form-inline" do %>
    <div class="form-group">
		  <%= number_field_tag :cost ,"",class: "form-control", placeholder: "Max Cost..."%><br />
    </div>


	<%= submit_tag "Search", class: "btn btn-primary" %>
	<% end %>
</div>


