<div class="hs_banner">
<div class="col-xs-2 logo" style="height:100%"><%= link_to 'HeartApp', searchhs_path, style: 'color:#FFFFFF;' %><br />
      <h4><i>Filter, Search, Results.</i></h4>
    </div>
</div>

<div class="mtg_banner">
<div class="col-xs-2 logo pull-right" style="height:100%"><%= link_to 'MTGApp', searchhs_path, style: 'color:#FFFFFF;' %><br />
      <h4><i>
      Works like magic.</i></h4>
    </div>
</div>